$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$font-color: #369;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

h1 {
    color: $font-color;
    text-decoration: underline;
    letter-spacing: 2px;
}

h1::first-letter {
    color: $primary-color;
}